<p>
  Create New Timecard
</p>
<div>
  <input type="text" name="search" placeholder="Monday,september 4,2017">
</div>

<div id="content">
  <ul id="navbar">
    <li>ProjectName</li>
    <li>Activity</li>
    <li>Sun</li>
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>

  </ul>
</div>
<br/>


<div id="content">
  <ul id="navbar">
    <li>

      <select>
                  <option value="Volvo">Tour</option>
                  <option value="saab">Hero</option>
                  <option value="mercedes">Time</option>
                  <option value="audi">Project</option>
                </select>
    </li>


    <li>

      <select>
                      <option value="see">see</option>
                      <option value="touch">touch</option>
                      <option value="view">view</option>
                      <option value="experience">experience</option>
                    </select>
    </li>
    <li>

      <input type="password" name="search" place holder="">
    </li>
    <li>

      <input type="password" name="search" place holder="">
    </li>

    <li>

      <input type="password" name="search" place holder="">
    </li>

    <li>

      <input type="password" name="search" place holder="">
    </li>

    <li>

      <input type="password" name="search" place holder="">
    </li>

    <li>

      <input type="password" name="search" place holder="">
    </li>
    <li>

      <input type="password" name="search" place holder="">
    </li>

  </ul>
</div>