<h3>
  Add Projects
</h3>
<p>
  Name
</p>
<div >
<input type="text" name="search"placeholder="Project name example">
</div>
<p>
    Type
  </p>
  <label>
  <input type="radio" ng-model="color.name" value="capital">
  Capital
</label>
<label>
    <input type="radio" ng-model="color.name" value="expense">
    Expense
  </label>
<p>
    status
  </p>
  <div >
      <input type="text" name="search"placeholder="Active">
      </div>
      <p>
          Manager
        </p>
      <div >
          <input type="text" name="search"placeholder="Sandesh Sachidanand">
          </div>
          
          <p>
              Director
            </p>
          <div >
              <input type="text" name="search"placeholder="Satish Subramanian">
              </div>
              <p>
                Project Manager
                </p>
              <div >
                  <input type="text" name="search"placeholder="Tony Gunady">
                  </div>
                  
                     